APP_ACCESS_TOKEN=change-this-access-code
APP_PORT=3000
APP_RUNTIME_DIR=userdata
APP_ASSET_INPUT_DIR=
APP_ASSET_OUTPUT_DIR=
APP_ASSET_THUMBS_DIR=
CLOUD_SYNC_BASE_URL=https://image-cloud.0909106.xyz
COMFYUI_INSTANCES=127.0.0.1:8188
APP_VERSION=1.0.5
APP_UPDATE_CHECK_URL=https://api.github.com/repos/IGuanggg/Infinite-Canvas/releases/latest
